{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h4>Products</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card ml-10">
              <img class="card-img-top img-thumbnail" style="width:400px" src="{{ object_l.photo.url }}" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{ object_l.name }}</h4>
                <p class="card-text">Price: {{ object_l.price }} </p>
                <p class="card-text">Stock: {{ object_l.stock }}</p>
                  <button class="btn btn-danger"><a href="../../products/{{ object_l.id }}/delete">Delete</a></button>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}